<div class="sticky-subnav">
    <div class="d-flex align-items-center overflow-hidden">
        <a href="categories.html" id="back-link" class="btn-link text-decoration-none d-flex align-items-center">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </a>
        <h4 class="m-0 ms-2" id="album-title">Album</h4>
    </div>
</div>
<main class="container" id="main-content">
    <div id="photos" class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-3"></div>
</main>